
    } @perDay
    <br />
    Monthly Salary:
    @{
        int monthly = 0;
        monthly = perDay * 30;

        if (@IsTenured)
        {
            monthly = monthly + 500;
        }
    } @monthly
</strong>

<h3>Output 4</h3>

<table class="table table-dark">
    <tr>
        <td>Name:</td>
        <td>@fname @lname </td>
    </tr>
    <tr>
        <td>Prelims:</td>
        <td>@prelims</td>
    </tr>
    <tr>
        <td>Finals:</td>
        <td>@finals</td>
    </tr>
    <tr>
        <td>Semestral Grade:</td>
        <td>
            @{

            overall = prelims + finals; 
            sem = overall/2;
                }@sem
            </td>
    </tr>

    <tr>
        <td>Transmutated Grade</td>
        <td>
            @{
                float transmuted = 0f;
                if (sem >= 96 && sem <= 100)
                {
                    transmuted = 1f;
                }
                else if (sem >= 94 && sem <= 95)
                {
                    transmuted = 1.25f;
                }
                else if (sem >= 92 && sem <= 93)
                {
                    transmuted = 1.50f;
                }
                else if (sem >= 89 && sem <= 91)
                {
                    transmuted = 1.75f;
                }
                else if (sem >= 87 && sem <= 88)
                {
                    transmuted = 2.00f;
                }
                else if (sem >= 84 && sem <= 86)
                {
                    transmuted = 2.25f;
                }
                else if (sem >= 82 && sem <= 83)
                {
                    transmuted = 2.50f;
                }
                else if (sem >= 79 && sem <= 81)
                {
                    transmuted = 2.75f;
                }
                else if (sem >= 75 && sem <= 78)
                {
                    transmuted = 3.00f;
                }
                else
                {
                    transmuted = 5.00f;
                }
                }@transmuted
            </td>
    </tr>
</table>
