@{
    ViewData["Title"] = "About Me";
}
<center>
    <h1>@ViewData["Title"]</h1>
    <h1>Jasper Lindell G. Arangali</h1>
</center>
<div class="About_Main">

        <div class="About_Information">
            <p1>Birthday:</p1>
            <p2>May 22, 2003</p2><br />
            <p1>University:</p1>
            <p2>University of Santo Tomas</p2><br />
            <p1>Course:</p1>
            <p2>Bachelor of Science in Information Technology</p2><br />
            <p1>Year and Block:</p1>
            <p2>3rd Year - 3ITF</p2><br />
            <p1>Email:</p1>
            <p2>jasperlindell.arangali.cics@ust.edu.ph</p2><br />

        </div>

        <div class="About_Pic">
            <img src="/img/Jas.JPG" class="about_img" />
        </div>
</div>